.weather {
    width: 40%;
    border-radius: 5px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background: linear-gradient(90deg, rgba(1,36,0,0.6530987394957983) 0%, rgba(9,121,75,1) 13%, rgba(42,213,148,0.8491771708683473) 42%, rgba(7,158,90,0.7455357142857143) 60%, rgba(255,255,255,1) 74%);
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 3px;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weather-icon {
    width: 90px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -2px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    margin-left: 12px;
    font-weight: 400;
    font-size: 13px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 13px;
    color: #212121;
}
