.container {
  max-width: 1080px;
  margin: 20px auto;
  text-align: center;
}

.show-daily {
  /*background-color: aquamarine;*/
  cursor: pointer;
  color: #757575;
  margin: 10px;
  width: 100px;
}